@model WebApp.Models.Participations.ParticipationCreateEditVm
<div class="container w-50">
    <form asp-action="CreateEdit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="IndividualUser!.FirstName" class="control-label"></label>
            <input asp-for="IndividualUser!.FirstName" class="form-control"/>
            <span asp-validation-for="IndividualUser!.FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="IndividualUser!.LastName" class="control-label"></label>
            <input asp-for="IndividualUser!.LastName" class="form-control"/>
            <span asp-validation-for="IndividualUser!.LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="IndividualUser!.IdentificationCode" class="control-label"></label>
            <input asp-for="IndividualUser!.IdentificationCode" class="form-control"/>
            <span asp-validation-for="IndividualUser!.IdentificationCode" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Participation!.PaymentTypeId" class="control-label"></label>
            <select asp-for="Participation!.PaymentTypeId" class="form-control" asp-items="@Model.PaymentTypeSelectList">
                <option>Vali maksetüüp ...</option>
            </select>
            <span asp-validation-for="Participation!.PaymentTypeId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Participation!.Information" class="control-label"></label>
            <textarea rows="7" asp-for="Participation!.Information" class="form-control"></textarea>
            <span asp-validation-for="Participation!.Information" class="text-danger"></span>
        </div>
        <input type="hidden" asp-for="EventId"/>
        <input type="hidden" asp-for="Participation!.Id"/>
        @if (Model.Participation!.Id != Guid.Empty)
        {
            <div class="form-group">
                <input type="submit" value="Muuda" class="btn btn-primary mt-3"/>
            </div>
        }
        else
        {
            <div class="form-group">
                <input type="submit" value="Lisa" class="btn btn-primary mt-3"/>
            </div>
        }


        <div asp-validation-summary="All" class="text-danger"></div>

    </form>
</div>