@model WebApp.Models.Events.DeleteVm

<div class="container h-auto ps-0">
    <div class="row g-0">
        <div class="col col-blue fs-4 lh-2 d-flex flex-column min-vh-50 justify-content-center align-items-center">
            <h3 >Kustuta üritus</h3>
        </div>
        <div class="col-8">
            <img class="img-fluid w-100 h-20 d-inline-block" src="~/images/libled.jpg" alt="Photo"/>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-center ">
    <div class="mt-5">
        <div class="alert alert-danger mt-8 w-100 " role="alert">
            Oled kindel, et soovid kustutada üritust @Model.EventName
        </div>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id"/>
            <input type="hidden" asp-for="EventName"/>
            <input type="submit" value="Kustuta" class="btn btn-danger"/>
            <a class="btn btn-primary ms-2" asp-controller="Home" asp-action="Index">Tühista</a>
        </form>
    </div>
</div>