@model WebApp.Models.PaymentTypes.PaymentTypeVm

<div class="container h-auto ps-0 pb-4">
    <div class="row g-0">
        <div class="col col-blue fs-4 lh-2 d-flex flex-column min-vh-50 justify-content-center align-items-center">
            <h3 >Maksemeetodi kustutamine</h3>
        </div>
        <div class="col-8">
            <img class="img-fluid w-100 h-20 d-inline-block" src="~/images/libled.jpg" alt="Photo"/>
        </div>
    </div>
</div>
<h4>Oled kindel, et soovid maksemeetodit "@Model.PaymentTypeName" kustutada ?</h4>
<div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id"/>
        <div class="form-group mt-2">
            <input type="submit" value="Kustuta" class="btn btn-primary"/>
            <a class="btn btn-primary ms-2" asp-controller="PaymentTypes" asp-action="Index">Tagasi</a>
        </div>
    </form>
</div>