html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}


.col-blue {
    background-color: #0049B7;
    color: white
}


.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0
}

.inner-div1 {
    background-color: #0049B7;
    height: 50px;
    text-align: center;
    color: white
}

.headline {
    color: #0049B7

}


